.report-box {
    position: relative;
}

.report-box .print-btn {
    width: 124px;
    height: 30px;
    border: 1px solid #409eff;
    border-radius: 30px;
    background-color: #fff;
    color: #409eff;
    outline: none;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    position:  relative;
    z-index:  30;
}

.report-box .check-result {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
}

.report-box .check-result .result-true {
    width: 153px;
    height: 121px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('/images/checked.png') no-repeat center center;
    text-align: center;
    font-weight: bold;
}

.report-box .check-result .result-false {
    width: 153px;
    height: 121px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('/images/wrong wave.png') no-repeat center center;
    text-align: center;
    font-weight: bold;
}

.report-box .check-result span {
    line-height: 20px;
    font-size: 14px;
    margin-top: 124px;
    display: inline-block;
}