<div>
    <div class="report-box" v-for="(item,index) in errorModeId">
        <div class="page-box-title">
            <i class="fa fa-circle-o"></i>
            <span v-for="nameTypeName in nameType" v-text="nameTypeName"></span>
            <button type="button" class="print-btn" @click="seeTypeDetail(index)">点击查看该类全部</button>
        </div>
        <v-heart-part :id="item.list[0]" show-error="false">
            <div class="check-result" slot="checkResult">
                <div class="result-true" v-if="item.checkErrorNum!=item.list.length&&item.checkErrorNum>0||item.checkTrueNum>0">
                    <span>{{item.checkTrueNum+item.checkErrorNum}}</span>
                    <span>/</span>
                    <span>{{item.list.length}}</span>
                </div>
                <div class="result-false" v-if="item.checkErrorNum==item.list.length">
                    <span>{{item.checkErrorNum}}</span>
                    <span>/</span>
                    <span>{{item.list.length}}</span>
                </div>
            </div>
        </v-heart-part>
        <!-- <div style="">
            <h3>统计数据测试：</h3>
            <p>异常类型的代码是：{{errorType}}</p>
            <p>异常模板的号码:{{index}}</p>
            <p>异常的图表的id：{{item.list}}</p>
            <p>总共有异常{{item.list.length}}条</p>
            <p>未复核{{item.noCheck}}条</p>
            <p>已复核{{item.checkTrueNum+item.checkErrorNum}}条</p>
            <p>已经复核正确的有{{item.checkTrueNum}}条</p>
            <p>已经复核错误的有{{item.checkErrorNum}}条</p>
        </div> -->
    </div>
</div>