body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: "Microsoft Yahei", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.fillcontain {
    height: 100%;
    width: 100%;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#app {
    width: 100%;
    height: 100%;
}

.main .content {
    background-color: #edeff1;
    min-height: 100px;
    padding-top: 30px;
    height: 100%;
}

.page-box {
    width: 96%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 4px;
    background: #fff;
}

.bread-nav {
    margin-left: 30px;
    margin-bottom: 30px;
}

.page-box-title {
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #edeff1;
    line-height: 20px;
    height: 44px;
    padding: 0 20px;
}

.page-box-title .fa {
    color: #fe763a;
}

.page-box-title span {
    display: inline-block;
    line-height: 44px;
}

form label {
    color: #333;
}

.form-success {
    text-align: center;
}

.form-success p {
    color: #52dd95;
    font-size: 12px;
    line-height: 26px;
}

.form-success .rule-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    width: 172px;
    height: 51px;
    background: url(/images/btn_y.png) no-repeat center center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 7px;
}

.layout {
    width: 100%;
    height: 100%;
}

.progress {
    width: 500px;
    margin: 0 auto;
}

.progress .is-process {
    color: #fe7630;
}

.is-process .is-text {
    border-radius: 50%;
    border: 2px solid #fe7630;
    border-color: #fe7630;
}

.is-process .el-step__line {
    background-color: #fe7630;
}

#page {
    width: 100%;
    height: 100%;
    background-color: #edeff1;
}

.head {
    min-height: 87px;
    height: 10%;
    position: relative;
    z-index: 2;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    /* font-weight: bolder; */
    line-height: 86px;
}

.head .content {
    font-size: 24px;
    width: 1123px;
    margin: 0 auto;
}

.main {
    background-color: #edeff1;
}

.main .main-inner {
    width: 900px;
    margin: 0 auto;
    padding: 55px;
}

.progress {
    /* padding-bottom: 23px; */
    padding: 50px 0 30px 0;
}

.phone-form,
.pwd-form {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.verfy {
    width: 130px;
}

.time {
    float: right;
    width: 96px;
    padding: 0;
    height: 40px;
    color: #fe7630;
    border-color: #fe7630;
}

.register-box .btn-next {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 172px;
    height: 51px;
    background: url(/images/btn_y.png) no-repeat center center;
    color: #fff;
    font-weight: bold;
    border: none;
    letter-spacing: 7px;
    padding: 0;
    margin: 0;
}

.register-box .btn-next span {
    line-height: 31px;
    font-size: 14px;
    display: block;
    position: relative;
    top: -8px;
}

.page-box-title {
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #edeff1;
    line-height: 20px;
    height: 63px;
    padding: 0 20px;
}

.page-box-title .fa {
    color: #fe763a;
    margin-right: 5px;
}

.page-box-title span {
    display: inline-block;
    line-height: 63px;
    font-size: 16px;
}