<div class="audit-box">
    <el-tabs type="card" class="tab-box" v-model="activeName">
        <el-tab-pane label="待审核" name="待审核"></el-tab-pane>
        <el-tab-pane label="已审核" name="已审核"></el-tab-pane>
    </el-tabs>
    <div class="wait" v-if="activeName=='待审核'">
        <div class="filter-box page-box">
            <div class="page-box-title">
                <i class="fa fa-circle-o"></i>
                <span>筛选查询</span>
                <div class="btn-group">
                    <button type="button" v-text="isSearchShow?'收起':'展开'" @click="toggleSearchShow()" class="fa fa-angle-double-down">收起</button>
                    <button type="button" @click="searchAttestation()">查询结果</button>
                </div>
            </div>
            <transition name="fade">
                <el-form ref="form" label-width="100px" class="search-box" v-show="isSearchShow">
                    <el-form-item label="账号" class="role">
                        <el-input v-model="waitAuditSearchObj.account"></el-input>
                    </el-form-item>
                    <el-form-item label="申请时间" class="time">
                        <el-date-picker v-model="waitAuditSearchObj.time" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"
                            value-format="timestamp">
                        </el-date-picker>
                    </el-form-item>
                </el-form>
            </transition>
        </div>
        <div class="table-box page-box">
            <div class="page-box-title">
                <i class="fa fa-circle-o"></i>
                <span>认证列表</span>
            </div>
            <div class="table-content">
                <el-table :data="waitAuditTableData.data" style="width: 100%">
                    <el-table-column prop="mobile" label="账号" min-width="150" align="center">
                    </el-table-column>
                    <el-table-column prop="userRealName" label="真实姓名" min-width="50" align="center">
                    </el-table-column>
                    <el-table-column prop="certificateType" :formatter="certificateType" label="证件类型" min-width="220" align="center">
                    </el-table-column>
                    <el-table-column prop="certificateNumber" label="证件号码" min-width="100" align="center">
                    </el-table-column>
                    <el-table-column prop="createTime" :formatter="date" label="申请时间" min-width="100" align="center">
                    </el-table-column>
                    <el-table-column label="操作" min-width="200" align="center">
                        <template slot-scope="scope">
                            <el-button class="rule-btn edit-btn" @click="shenHeWait(scope.row)" type="text" size="small" icon="el-icon-edit">审核</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination class="pagination-box" :current-page="waitAuditTableData.currentPage" :page-size="waitAuditTableData.pageSize"
                    layout="total, prev, pager, next, jumper" :total="waitAuditTableData.total" @current-change="handleCurrentChange">
                </el-pagination>
            </div>
        </div>
    </div>
    <div class="yet" v-if="activeName=='已审核'">
        <div class="filter-box page-box">
            <div class="page-box-title">
                <i class="fa fa-circle-o"></i>
                <span>筛选查询</span>
                <div class="btn-group">
                    <button type="button" v-text="isSearchShow?'收起':'展开'" @click="toggleSearchShow()" class="fa fa-angle-double-down">收起</button>
                    <button type="button" @click="searchAudit()">查询结果</button>
                </div>
            </div>
            <transition name="fade">
                <el-form ref="form" label-width="100px" class="search-box" v-show="isSearchShow">
                    <el-form-item label="账号" class="role">
                        <el-input v-model="yetAuditSearchObj.account"></el-input>
                    </el-form-item>
                    <el-form-item label="审核结果" class="role">
                        <el-select v-model="yetAuditSearchObj.result" placeholder="">
                            <el-option label="全部" value=""></el-option>
                            <el-option label="未诊断" value="0"></el-option>
                            <el-option label="诊断完成" value="1"></el-option>
                            <el-option label="诊断失败" value="2"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="申请时间" class="time">
                        <el-date-picker v-model="yetAuditSearchObj.time" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"
                            value-format="timestamp">
                        </el-date-picker>
                    </el-form-item>
                </el-form>
            </transition>
        </div>
        <div class="table-box page-box">
            <div class="page-box-title">
                <i class="fa fa-circle-o"></i>
                <span>审核历史</span>
            </div>
            <div class="table-content">
                <el-table :data="yetAuditTableData.data" style="width: 100%">
                    <el-table-column prop="mobile" label="账号" min-width="150" align="center">
                    </el-table-column>
                    <el-table-column prop="userRealName" label="真实姓名" min-width="50" align="center">
                    </el-table-column>
                    <el-table-column prop="certificateType" :formatter="certificateType" label="证件类型" min-width="220" align="center">
                    </el-table-column>
                    <el-table-column prop="certificateNumber" label="证件号码" min-width="100" align="center">
                    </el-table-column>
                    <el-table-column prop="updateTime" :formatter="date" label="审核时间" min-width="100" align="center">
                    </el-table-column>
                    <el-table-column label="操作" min-width="200" align="center">
                        <template slot-scope="scope">
                            <el-button class="rule-btn edit-btn" @click="shenHeYet(scope.row)" type="text" size="small" icon="el-icon-edit">详情</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination class="pagination-box" :current-page="yetAuditTableData.currentPage" :page-size="yetAuditTableData.pageSize"
                    layout="total, prev, pager, next, jumper" :total="yetAuditTableData.total" @current-change="handleCurrentChange">
                </el-pagination>
            </div>
        </div>
    </div>
</div>