.heart-detail-box {
    padding: 30px 0;
    position: relative;
}

.heart-echar-detail {
    position: relative;
    /* width: 90%; */
    margin: 0 auto;
    width: 761px;
    /* height: 191px; */
    /* overflow-x: scroll; */
}

.heart-part-detail {
    width: 100%;
    /* height: 100%; */
    background: url('../../images/grid40.png') no-repeat center top;
    /* background-size: 821px 200px; */
}

.fangChan .heart-part-detail {
    width: 821px;
    height: 80px;
    margin: 0 auto;
    background: url('../../images/grid4.png') no-repeat center center;
    background-size: 100% 100%;
}

.fangChan {
    padding-bottom: 30px;
}

.fangChan .heart-detail-box {
    padding: 0;
}

.fangChan .page-box-title {
    margin-bottom: 30px;
}

.hint-box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    /* width: 153px; */
    /* height: 121px; */
    background: rgba(0, 0, 0, 0.2);
}

.hint-box .cancel {
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    cursor: pointer;
    z-index: 20;
    font-size: 16px;
    width: 50px;
    line-height: 30px;
}

.hint-checked {
    width: 100%;
    height: 100%;
    background: url('../../images/remove.png') no-repeat center center;
}

.hint-checked-error {
    background: url('../../images/wrong wave.png') no-repeat center center;
}

.hint-error-box {
    position: absolute;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.21);
    left: 5%;
    top: 0;
}

.hint-error-img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 50px;
    height: 50px;
    background: red;
}

.heart-detail-box .mouse-choice {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
}

.heart-detail-box .mouse-choice ul {
    height: 120px;
    overflow-y: scroll;
    padding: 10px 0;
    background-color: #edeff1;
    z-index: 200;
}

.heart-detail-box .mouse-choice ul li {
    line-height: 28px;
    font-size: 14px;
    padding: 0 10px;
    color: #FE763A;
    cursor: pointer;
}

.heart-detail-box .mouse-choice ul li:hover {
    background-color: #FE763A;
    color: #fff;
}