<div class="heart-detail-box" ref="echarBox">
    <div class="heart-echar-detail" @click="errorClick">
        <div class="heart-part-detail" ref="heartPartDetail"  v-bind:style="{ height: boxHeight }"></div>
        <div class="hint-box" v-if="result">
            <h1 class="cancel" @click.stop="cancelError">取消</h1>
            <div class="hint-checked"></div>
        </div>
        <div class="mouse-choice" :style="{ left: mousePosition.left, top: mousePosition.top }" v-show="showChoice">
            <ul>
                <li v-for="(item,index) in choiceObj" :key="index" v-text="item.name" @click.stop="changeDiseaseType(item.name,index)"></li>
            </ul>
        </div>
    </div>
    <!-- <div>
        <p>异常类型：{{diseaseType}}</p>
        <p>图表的id：{{echarId}}</p>
        <p>本图表的所有数据：{{echarData}}</p>
    </div> -->
</div>